script(src="javascripts/jquery.js")
script(src="javascripts/bootstrap.min.js")
script(src="javascripts/bootstrap.js")
script(src="javascripts/contact_me.js")
script(src="javascripts/jqBootstrapVaildation.js")